article.person {
    height: 200px;
    margin: 7px 0;
    min-height: 200px;
    padding: 7px 0;
    * {
        font-size: .8em;
    }

    .label {
        background-color: rgba(175, 175, 175, 0.9);
        text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 3px;
    }

    .label-party-S {
        background-color: rgba(238, 32, 32, 0.9);
    }

    .label-party-V {
        background-color: rgba(175, 0, 0, 0.9);
    }

    .label-party-MP {
        background-color: rgba(131, 207, 57, 0.9);
    }

    .label-party-M {
        background-color: rgba(27, 73, 221, 0.9);
    }

    .label-party-SD {
        background-color: rgba(221, 221, 0, 0.9);
    }

    .label-party-KD {
        background-color: rgba(35, 25, 119, 0.9);
    }

    .label-party-C {
        background-color: rgba(0, 153, 51, 0.9);
    }

    .label-party-FP {
        background-color: rgba(107, 183, 236, 0.9);
    }
}
